.divSectionModelo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}
.h2Modelo_t,
.h2Modelo_c {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: var(--font-size--title-h2);
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: var(--font-weight-title-large);
}
.pModelo_p,
.pModelo_c {
    padding: 0 5% 0 5%;
    margin: 30px 0 60px 0;
    text-align: center;
    font-size: var(--font-size--letter-medium);
    font-family: var(--font-letter);
    font-weight: var(--font-weight-letter);
    color: var(--color-letter);
}
.divCaja_modelo {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #4b4453a6;
    border-radius: 15px;
}
.divCaja_Caja {
    padding: 1%;
    text-align: center;
}
.h3Title-modelo {
    font-size: var(--font-size--title-h3);
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: var(--font-weight-title);
}
.container_caja-f {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
}
hr {
    border: 1px solid #4b445391;
}
.containerIniciacion {
    width: 100%;
    height: auto;
}
.h3Title-iniciacion {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: var(--font-size--title-h3);
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: var(--font-weight-title);
    font-weight: var(--font-weight-title-regular);
}
.divCaja-Iniciacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
}
.divEvaluacion {
    width: 42%;
    height: auto;
    text-align: justify;
}
.h4title_iniciacion {
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--font-size--title-h4);
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: var(--font-weight-title-regular);
}
.ulParrafos-iniciacion {
    font-size: var(--font-size--letter);
    font-family: var(--font-letter);
    font-weight: var(--font-weight-letter);
    color: var(--color-letter);
    margin-bottom: 20px ;
}
.pParrafo-iniciacion {
    margin-bottom: 10px;
    font-size: var(--font-size--letter);
    font-family: var(--font-letter);
    font-weight: var(--font-weight-letter-large);
    color: var(--color-letter);
}
.img-iniciacion {
    width: 50%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 50%;
    border: 5px solid rgb(47, 47, 71);
}
.pParrafo-especializacion {
    margin-bottom: 20px;
    padding: 0 5% 0 5%;
}
.img-iniciacion_cientifico {
    width: 50%;
    height: 400px;
    background: cover;
    border-radius: 50%;
    border: 5px solid rgb(47, 47, 71);
}
.img-iniciacion_c {
    width: 100%;
    height: auto;
}
.img-iniciacion_c-img {
    width: 100%;
    height: 250px;
    margin-top: 25px;
}
.pParrafo_c {
    margin-top: 20px;
    margin-bottom: 60px;
}
.container_img_robinson {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.img-robinson {
    border: 6px solid #242323;
}

#pParrafo-iniciacion_c {
    font-weight: var(--font-weight-letter) !important;
    margin-bottom: 20px;
}
table {
    font-size: var(--font-size--letter-small);
    margin-bottom: 25px;
}
th, td {
    padding-left: 5px;
}
@media screen and (max-width: 740px) {
    .divEvaluacion {
        width: 80%;
    }
}